p {
  font-size: 20px;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 44px;
}

h3{
  font-size: 30px;
}

h4{
  font-size: 22px;
}

ul{
  font-size: 16px;
}

img {
  border: #ffffff 4px solid;
  float: left;
  clear: right;
  margin: 0 0 10px 10px;
}

body{
  background-color: #F8EEE7;
}

#container {
    width: 1000px;
    margin: 0 auto;
    background-color: #F8EEE7;
}

#header {
  font-family: Palatino;
  color: #49274A;
  padding: 20px;
  background-color: #F8EEE7;
}

#primary {
  float: left;
  width: 240px;
  font-family: Palatino;
  color: #49274A;
  padding: 5px;
  background-color: #F8EEE7;
}

#content {
  float: left;
  width: 480px;
  font-family: Palatino;
  color: #49274A;
  padding: 5px;
  background-color: #F8EEE7;
}

#secondary {
  float: left;
  width: 240px;
  font-family: Palatino;
  color: #49274A;
  padding: 5px;
  background-color: #F8EEE7;
}

