p {
  font-size: 20px;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 44px;
}

h3{
  font-size: 30px;
}

h4{
  font-size: 22px;
}

ul{
  font-size: 16px;
}

.container {
  font-family: Palatino, serif;
  padding: 20px;
}

.heading {
  border: 5px solid black;
  padding: 20px;
}

.main {
  border: 5px solid black;
}
