p {
  
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 50px;
}

h3{
  font-size: 44px;
}

.container {
  font-family: Palatino, serif;
}

.heading {
  border: 5px solid black;
}

.main {
  border: 5px solid black;
}
